<html>
    <head>
        <title>My blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Gjango Jenna's Blog</a></h1>
        </div>

        <div>
            <p>published: 26.02.2019, 19.37</p>
            <h2><a href="">My first post</a></h2>
            <p>Мы создали три div элемента:

Первый элемент div содержит название блока, которое также является ссылкой.
Два других div элемента содержат текст записи и дату публикации: h2 тег с заголовком записи, который также является ссылкой, и два p (параграфа) с текстом, один для даты, а другой — для самого текста записи.
Это даст нам следующий эффект: </p>
        </div>

        <div>
            <p>published: 26.02.2019, 19:42</p>
            <h2><a href="">My second post</a></h2>
            <p>Мы создали три div элемента:

Первый элемент div содержит название блока, которое также является ссылкой.
Два других div элемента содержат текст записи и дату публикации: h2 тег с заголовком записи, который также является ссылкой, и два p (параграфа) с текстом, один для даты, а другой — для самого текста записи.
Это даст нам следующий эффект:  </p>
        </div>
    
    </body>

</html>